* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", "kanit", sans-serif, Arial;
    font-size: 1rem;
}

body {
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 15px 150px;
}

nav ul {
    margin: auto;
    padding: auto;
}

nav li a {
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
   padding: 10px 20px;
   border: 2px solid transparent;
   transition: border 0.7s ease-in-out;
   white-space: nowrap;
}

nav li a:hover {
    font-weight: 500;
    border-bottom: 1px solid white;
    border-radius: 2px;
    padding-bottom: 10px;
} 

 nav .logo img {
    width: 35%;
} 

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-background {
    background-color: pink;
    margin-left: 10%;
    margin-right: 40%;
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

.hero-container h1 {
    font-size: 2rem;
    margin-bottom: 40px;
    margin-right: 40%;
    position: absolute;
}

.hero-container p {
    font-size: 1.5rem;
    margin-top: 40px;
    margin-right: 40%;
    position: absolute;
}

.hero-image {
    display: flex;
    justify-content: center;
    margin-left: 30%;
}

.hero-background::before {
    content: '' pink;
    position: absolute;
    z-index: -1;
    left: 10%;
    right: 10%;
    margin-top: px;
    height: 59.4%;
    width: 82%;
    background-color: pink;
}

div.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 0px 0px;
    min-height: 600px;
    width: 100%;
    background-color: wheat;
}

.gallery img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
    opacity: 0.8;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    animation-duration: infinite;
}

.image1 {
    width: 40%;
    margin: 20px 20px 200px 20px;
}

.image2 {
    width: 40%;
    margin: 200px 20px 20px 20px;
}

.image3 {
    width: 40%;
    margin: 600px 50px 20px 20px;
}

.text1 {
    position: absolute;
    color: white;
    text-align: center;
    left: 4%;
    top: 129%;
    width: 25%;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.8s;
    box-shadow: rgb(0, 0, 0);
}

.text2 {
    position: absolute;
    color: white;
    text-align: center;
    left: 36.3%;
    top: 152%;
    width: 25%;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.8s;
}

.text3 {
    position: absolute;
    color: white;
    text-align: center;
    left: 70%;
    top: 175%;
    width: 25%;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.8s;
}

.image1:hover .text1, .image2:hover .text2, .image3:hover .text3 {
    opacity: 1;
    z-index: 9;
    transform: translateY(0px);
}

.image1:hover, .image2:hover, .image3:hover {
    z-index: 999;
    border-radius: 20px;
    transition: linear 2s;
    animation: image-back 2s;
    animation-duration: infinite;
    border-radius: 20px;
}

@keyframes image-back {
    from {
        background-color: transparent;
        border-radius: 20px;
    }
    to {
        background-color: black;
        border-radius: 20px;
    }
  }

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
  }

.button {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.button button {
    position: relative;
    width: 200px;
    padding: 20px;
    margin: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
    z-index: 999;
}

.button button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #315BAA;
    left: 0;
    top: 0;
}

.button button::before {
    content: "";
    background: linear-gradient(45deg, black, red, orange, yellow, green, rgb(3, 246, 185), blue, pink, red);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    background-size: 600%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {background-position: 0, 0;}
    50% {background-position: 400%, 0;}
    100% {background-position: 0, 0;}
}

.button button:hover::before {
    opacity: 1;
}

.button button:active::after {
    background: transparent;
    filter: blur(1px);
}

.button button:active {
    background: transparent;
    font-weight: bold;
}

.container  {
    background-color: wheat;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-me {
    justify-content: center;
    background-color: black;
    color: white;
    width: 80%;
    min-height: calc(80% + 50px);
}

.about-me h1 {
    font-size: 2rem;
    padding: 10px;
    margin: 50px 100px 2px 50px;
    text-align: center;
}

.about-me h3 {
    font-size: 2rem;
    padding: 10px;
    border-bottom: 2px solid gray; 
    margin: 50px 100px 30px 50px;
}

.about-me button {
    float: right;
    border: none;
    background-color: transparent;
}

.about-me i {
    font-size: 2.8rem;
    margin: 2px;
    padding: 2px;
    float: right;
    cursor: pointer;
    transition: 1s;
    color: white;
}

.about-me i:hover {
    transform: rotate(60deg);
}

.about-me i.active {
    transform: rotate(315deg);
}

.about-me p {
    display: none;
    font-size: 1rem;
    padding: 10px;
    margin-left: 50px;
    margin-right: 100px;
}

.footer-list {
    height: 300px;
    background-color: black;  
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-list img {
    width: 156px;
    height: 137px;
    margin: 20px 0;
}

.footer-list ul {
    list-style: none;
    margin: 10px 80px 10px 80px;
    text-align: center;
}

.footer-list .title {
    font-weight: bold;
    color: wheat;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 1.5rem;
}

.footer-list a {
   color: white;
   border: 2px solid transparent;
   transition: border 0.7s ease-in-out;
   white-space: nowrap;
   line-height: 33px;
   font-size: 1.1rem;
}

.footer-list a:hover {
    font-weight: 500;
    border-bottom: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}
